.delivery {
    width: 1440px;
    height: 854px;
    margin: 105px auto 0;
    .container{
        background: url(../img/delivery_bg.png) top center no-repeat;
        margin: 0 auto;
    }
    &__title {
        padding: 34px 0 0 8px;
    }
    &__descr {
        padding-top: 651px;
    }
}

.colortext {
    color: $main-color;
}