.header {
    position: relative;
    max-width: 1440px;
    height: 868px;
    margin: 0 auto;
    background: url(../img/main_bg.png) center (center/cover) no-repeat;
    &__wrapper {
        width: 1440px;
        height: 120px;
        background: rgba(166, 166, 166, 0.49);
        display: grid;
        grid-template-columns: 390px 750px 300px;
        grid-template-rows: 58px 58px;
        row-gap: 4px;
    }
    &__logo {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        padding: 28px 0 0 100px;
    }
    &__contacts {
        display: grid;
        grid-template-columns: 357px 194px 230px;
        padding-top: 25px;
    }
    &__place {
        padding: 0;
        img {
            position: absolute;
            padding-left: 7px;
            }
        &-title {
            padding-left: 32px;
        }
    }
    &__phone {
        padding: 0;
        img {
            position: absolute;
            }
        &-title {
            position: absolute;
            padding-left: 29px;
            top: 25px;
        }
    }
    &__email {
        padding: 0;
        img {
            position: absolute;
            }
        &-title {
            padding-left: 27px;
        }
    }
    &__btn {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        padding: 11px 0 0 29px;
    }
    &__nav {
        display: grid;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        padding: 0 20px;
        background-color: $main-color;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 0;
        }
    }
    &__menu {
        list-style-type: none;
        a {
            position: relative;
            color: #444444;
            cursor: pointer;
            line-height: 1;
            text-decoration: none;
        }
        a:after {
            display: block;
            position: absolute;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #444444;
            content: "";
            transition: width 0.5s ease-out;
        }
        a:hover:after,
        a:focus:after {
            width: 100%;
        }
    }
    &__link > a {
        text-decoration: none;
        color: #444444;  
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 315px);
        column-gap: 17px;
        padding: 175px 0 0 65px;
    }
    &__item {
        width: 315px;
        height: 50px;
        background: $main-color;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 44px auto;
        column-gap: 10px;
        img {
            place-self: center end;
        }
        &-title {
            align-self: center;
        }
    }
}

h1 {
    position: relative;
    margin: 0;
    padding: 39px 0 0 113px;
    &:after {
        content: '';
        position: absolute;
        width: 11px;
        height: 360px;
        top: 71px;
        left: 75px;
        background-color: $main-color;
    }
}